DB_HOST=localhost
DB_PORT=3306
DB_NAME=skinmate
DB_USER=root
DB_PASSWORD=your_password

# RunPod AI 모델 설정
RUNPOD_MODEL_NAME=oneandthree/qwen2_wefwe_werwe2werw
RUNPOD_API_KEY=rpa_rqwrwer2erwetryetyerert3t
RUNPOD_BASE_URL=https://api.runpod.ai/v2/werwer23r23r2wer/openai/v1

# JWT 설정 (Spring Boot와 동일한 secret 사용)
JWT_SECRET=your_jwt_secret_key_here

# OpenAI API 설정 (Chat Agent용)
OPENAI_API_KEY=your_openai_api_key_here

QDRANT_URL=https://0sdfwfed363s2fwersdfs.cloud.qdrant.io
QDRANT_API_KEY=eyJhbsdfwfewerwre234w6er6wdsf
